* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* single card styles */

.country-info {
  font-size: 20px;
}
.card__title {
  display: flex;
  align-items: center;
}

.card__flag {
  margin-right: 10px;
}

.card__text-title {
  font-weight: 700;
}

/* list styles */

.country-list {
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 10px 0px;
  &__name {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
  }

  &__flag {
    margin: 5px;
  }
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
